.cardCon {
    display: inline-block;
    margin: 20px;
    padding: 7px;
    border: 2px orange solid;
    box-shadow: 5px gray ;
    width: 220px;
}

.imgSize {
    display: flex;
    width: 200px;
    height: 200px;
    border: 2px rgb(185, 117, 117) solid;
}


.fontSize {
    font-size: 15px;
    display: block;
}

.btnBooking {
    background-color: hotpink;
    }

    .btnBooking:hover{
        background-color: rgb(8, 99, 202);
        color: rgb(245, 245, 245)
    }
